body {
  background-image: url(cocktailbackground.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: helvetica;
}
h1 {
  color: white;
  text-align: center;
  box-sizing: content-box;
    width: 95%;
    border: solid #black 2px;
    padding: 5px;
}
h2 {
  color: white;
  text-align: center;
  box-sizing: content-box;
    width: 95%;
    border: solid #black 2px;
    padding: 5px;
}
