
body {
  background-image: url(cocktailbackground0.5.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: helvetica;
  color: rgba(29, 32, 38, 1);
  text-align:center;
}
/*
div {
  margin: 40px 100px 40px 100px;
  height: 200px;
  } */

.handwriting{
  width: 100%;
  height: auto;
}

h1 {
  color: rgba(29, 32, 38, 1);
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.title {
  background-image: url(images/chemistrypink/jpg);
  image-size: 100%;
}

#cocktail-links .cocktail:hover {
  background: green
}

#cocktail-links .cocktail a {
  color: red
}

#cocktail-links .cocktail a:hover {
  color: orange;
  text-decoration: none;
}
