
body {
  background-image: url(cocktailbackground0.5.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: helvetica;
  color: rgba(29, 32, 38, 1);
  text-align:center;
}
/*
div {
  margin: 40px 100px 40px 100px;
  height: 200px;
  } */

.content-box {
  padding: 15%;

}

.handwriting{
  width: 100%;
  height: auto;
}

h1 {
  color: rgba(29, 32, 38, 1);
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.title {
  background-image: url(images/chemistrypink.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

p.standardpadding {
  padding: 100px 50px 100px 50px;
}

#cocktail-links .cocktail:hover {
  background: green;
}
#cocktail-links {
  background-image: url(images/new_barscene.png);
  background-size: 75%;
}

#cocktail-links .cocktail a {
  color: plum
}

#cocktail-links .cocktail a:hover {
  color: orange;
  text-decoration: none;
}

/* Cocktail pages */

.content-box {
  padding: 15%;
  background-color: plum;
}
.cocktailpadding {
  padding: 25% 100% 25% 100%
}
